/* This is
a multi-line
comment */

.purple {
  background: #faf5ff;
}
.dark-purple {
  background: #560D7F;
  color: #FFF200;
}

/* to center an image */
/* from: https://www.w3.org/Style/Examples/007/center.en.html  */

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.img-border {
  margin: 30px;
  border: 10px solid #B23110;
  padding: 10px;
  background-color: #FFF200;
}

.float-right {
  float: right;
}

.smaller-border{
    margin: 10px;
    border: 5px solid #FFF200;
    padding: 5px;
}

.excited{
  color: purple;
  background-color: yellow;
}
